@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Yusei+Magic&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}

.card{
    margin-top: 15px;
}

#search-area{
    padding: 2px;
}

header,
input,
label,
strong{
    font-family: 'Yusei Magic', sans-serif;
}

.text-shadow{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

small{
    white-space: nowrap;
}

h6{
    font-weight: 600;
    line-height: 25px;
}

.head-div h6{
    margin-top: 15px;
    margin-left: 15px;
    padding-left: 15px;
}

.flashes h4{
    line-height: 2;
}

#submit-btn:hover,
.add-mark-btn:hover,
.add-category-btn:hover,
.search-btn:hover,
nav ul li:hover,
#register-btn:hover,
.select-dropdown li.disabled>span{
    background-color: #7e57c2 !important;
    color: #ffffff;
}

.dropdown-content li>a,
.dropdown-content li>span{
    color: #7e57c2;
}

ul:not(.browser-default)> .ingredient-list {
    list-style-type: disc;
}

.cancel-btn,
.cancel-btn:focus,
.reset-btn,
.delete-btn,
.delete-btn:focus{
    background-color:#d81b60;
}

.reset-btn:hover,
.delete-btn:hover,
.cancel-btn:hover{
    background-color: #ad1457;
}


.reset-btn{
    margin-top: 10px;
    margin-bottom: 10px;
}

#submit-btn,
.delete-btn,
.edit-btn,
.cancel-btn{
    margin: auto 0;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 10px;
}

.edit-btn,
.edit-btn:focus{
    background-color: #297ef6;
}
.edit-btn:hover{
    background-color: #3173d1
}


.collapsible-header .col strong{
    margin: 5px;
    line-height: 42px;
}

.profile-note{
    background-color: #5e35b1 ;
    color: #ffffff;
    line-height: 80px;
    text-align: center;
    
}

/* ------------------------------------------------------invalid input style */
input.invalid:not([type]),
input.invalid:not([type]):focus,
input.invalid[type=text]:not(.browser-default),
input.invalid[type=text]:not(.browser-default):focus,
input.invalid[type=password]:not(.browser-default),
input.invalid[type=password]:not(.browser-default):focus,
input.invalid[type=url]:not(.browser-default),
input.invalid[type=url]:not(.browser-default):focus,
input.invalid[type=search]:not(.browser-default),
input.invalid[type=search]:not(.browser-default):focus, textarea.materialize-textarea.invalid,textarea.materialize-textarea.invalid:focus,
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
    border-bottom: 1px solid #ad1457;
    -webkit-box-shadow: 0 1px 0 0 #ad1457;
    box-shadow: 0 1px 0 0 #ad1457;
}

input:not([type]):focus.invalid ~ label,
input[type=text]:not(.browser-default):focus.invalid ~ label,
input[type=password]:not(.browser-default):focus.invalid ~ label,
input[type=url]:not(.browser-default):focus.invalid ~ label,
input[type=search]:not(.browser-default):focus.invalid ~ label, textarea.materialize-textarea:focus.invalid ~ label,
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
input[type=search]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label{
    color: #ad1457;
}

/* ------------------------------------------------------valid input style */
input.valid:not([type]),
input.valid:not([type]):focus,
input.valid[type=text]:not(.browser-default),
input.valid[type=text]:not(.browser-default):focus,
input.valid[type=password]:not(.browser-default),
input.valid[type=password]:not(.browser-default):focus,
input.valid[type=url]:not(.browser-default),
input.valid[type=url]:not(.browser-default):focus,
input.valid[type=search]:not(.browser-default),
input.valid[type=search]:not(.browser-default):focus, textarea.materialize-textarea.valid,
textarea.materialize-textarea.valid:focus,
.select-wrapper input.select-dropdown:focus{
    border-bottom: 1px solid #4527a0 ;
    -webkit-box-shadow: 0 1px 0 0 #4527a0;
    box-shadow: 0 1px 0 0 #4527a0;
}

input:not([type]):focus.valid ~ label,
input[type=text]:not(.browser-default):focus.valid ~ label,
input[type=password]:not(.browser-default):focus.valid ~ label,
input[type=url]:not(.browser-default):focus.valid ~ label,
input[type=search]:not(.browser-default):focus.valid ~ label, textarea.materialize-textarea:focus.valid ~ label{
    color: #4527a0;
}

.caret{
    max-width: 20px;
    vertical-align: middle;
    padding-top: 15px;
}

.card .card-content .card-title{
    font-size: 20px;
    margin-bottom: 5px;
    line-height: 29px;
}

@media screen and (max-width: 600px) {
    h3,
    h4,
    div span{
        font-size: 20px;
        font-weight: 600;
    }
}

@media screen and (min-width: 601px) {
    .edit-delete-div{
        margin-top: 10px;
    }
    .head-div h6{
    margin-top: 25px;
    margin-left: 15px;
    padding-left: 15px;
    }
}

@media screen and (min-width: 981px){
    .brand-logo{
        margin-left: 10px;
    }
}
