.text-shadow{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

small{
    white-space: nowrap;
}

h6{
    font-weight: 600;
    line-height: 25px;
}

.flashes h4{
    line-height: 2;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

nav ul li:hover,
#register-btn:hover,
.select-dropdown li.disabled>span{
    background-color: #7e57c2 !important;
    color: #ffffff;
}

.dropdown-content li>a,
.dropdown-content li>span{
    color: #7e57c2;
}

#ingredient-list{
    list-style-type: disc;
}

.btn-small{
    margin: 5px;
}

.cancle-btn,
.delete-btn{
    background-color:#f23863fc;
}


.cancle-btn:hover,
.delete-btn:hover{
    background-color: #d41f6d;
}

.edit-btn{
    background-color: #297ef6;
}
.edit-btn:hover{
    background-color: #3173d1
}

.collapsible-header .col strong{
    margin: 5px;
    line-height: 42px;
}

/* ------------------------------------------------------invalid input style */
input.invalid[type=text]:not(.browser-default),
input.invalid[type=password]:not(.browser-default),
textarea.materialize-textarea.invalid{
    border-bottom: #ad1457;
    -webkit-box-shadow: 0 1px 0 0 #ad1457;
    box-shadow: 0 1px 0 #ad1457;
}

input.invalid[type=text]:not(.browser-default):focus,
input.invalid[type=password]:not(.browser-default):focus,
textarea.materialize-textarea.invalid:focus,
.select-wrapper input.select-dropdown:focus,
input[type=text]:not(.browser-defult):focus:not([readonly]),
input[type=password]:not(.browser-defult):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
    border-bottom: #ad1457 ;
    -webkit-box-shadow: 0 1px 0 0 #ad1457;
    box-shadow: 0 2px 0 #ad1457;
}

input[type=text]:not(.browser-defult):focus:not([readonly])+label,
input[type=password]:not(.browser-defult):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label,
input.invalid[type=text]:not(.browser-default):focus.invalid ~ label,
input.invalid[type=password]:not(.browser-default):focus.invalid ~ label,
textarea.materialize-textarea.invalid ~ label{
    color: #ad1457;
}

/* ------------------------------------------------------valid input style */
input.valid[type=text]:not(.browser-default),
input.valid[type=password]:not(.browser-default),
textarea.materialize-textarea.valid{
    border-bottom: #4527a0 ;
    -webkit-box-shadow: 0 1px 0 0 #4527a0;
    box-shadow: 0 1px 0 #4527a0;
}

input.valid[type=text]:not(.browser-default):focus,
input.valid[type=password]:not(.browser-default):focus,
textarea.materialize-textarea.valid:focus{
    border-bottom: #4527a0 ;
    -webkit-box-shadow: 0 1px 0 0 #4527a0;
    box-shadow: 0 2px 0 #4527a0;
}

input.valid[type=text]:not(.browser-default):focus.valid ~ label,
input.valid[type=password]:not(.browser-default):focus.valid ~ label,
textarea.materialize-textarea.valid:focus ~ label{
    color: #4527a0;
}

.caret{
    max-width: 20px;
    line-height: 42px;
}

@media screen and (max-width: 400px) {
  .edit-delete-profile-div {
    max-width: 80px;
  }
}

@media screen and (max-width: 600px) {
  .delete-btn{
      margin-top: 10px;
  }
}

@media screen and (min-width: 401px) and (max-width: 980px) {
    .edit-delete-profile-div {
    min-width: 165px;
  }
    .head-div h6{
      padding-left: 5px;
      margin-left: 5px;
  }
}

@media screen and (min-width: 981px){
    .edit-delete-div,
    .edit-delete-profile-div {
    min-width: 200px;
  }
    .brand-logo{
        margin-left: 10px;
    }
}