{% extends "base.html" %}
{% block content%}
    <div class="row center=center-align">
        <div class="col s12 center-align">
            <div class="card deep-purple darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Error 404</span>
                    <p>Sorry, we can’t find the page you were looking for.</p>
                </div>
                <div class="card-action">
                    <a href="{{ url_for('get_recipes') }}">Go back to All Recipes page</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}