{% extends "base.html" %}
{% block content%}
    <!-- only admin accessibility -->
    {% if session.user|lower == "admin" %}
        <h3 class="deep-purple-text text-darken-1 center-align">Add Mark</h3>

        <div class="row card-panel gray lighten-5">
            <form class="col s12" method="POST" action="{{ url_for('add_mark') }}">
                <!-- add mark -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-align-left prefix deep-purple-text text-darken-1"></i>
                            <input id="mark" name="mark" minlength="3" maxlength="15" type="text" class="validate"
                            required>
                        <label for="mark">Mark</label>
                    </div>
                </div>
                <!-- submit btn -->
                <div class="row">
                    <div class="col s12 center-align">
                        <!-- cancel btn -->
                        <a href="{{ url_for('get_marks') }}" class="btn-large cancel-btn text-shadow"><i class="fas fa-window-close right hide-on-small-only"></i> cancel</a>
                        <!-- submit-btn -->
                        <button id="submit-btn" type="submit" class="btn-large deep-purple darken-1 text-shadow">Add Mark <i
                                class="fas fa-plus-square right hide-on-small-only"></i></button>
                    </div>
                </div>
            </form>
        </div>
        <!-- if not admin -->
    {% else %}
        <div class="row center-align">
            <div class="col s12 center-align">
                <div class="card deep-purple darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Error 500</span>
                        <p>Oh no! Something bad happened. Please come back later when we fixed that problem. Thanks</p>
                    </div>
                    <div class="card-action">
                        <a href="{{ url_for('get_recipes') }}">Go back to All Recipes page</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}