{% extends "base.html" %}
{% block content %}

<h3 class="deep-purple-text text-darken-1 center-align">All Recipes</h3>

<!-- Recipe Details -->
<ul class="collapsible">
    {% for recipe in recipes %}
    <li>
        <div class="collapsible-header white-text deep-purple darken-1 text-shadow">
            <i class="fas fa-caret-down"></i>
            <strong>
                {{ recipe.recipe_name.capitalize() }} :
                <small>
                    Created by {{ recipe.created_by.capitalize() }} on
                    {{ recipe.date_added }}
                </small>
            </strong>
        </div>

        <div class="collapsible-body">
            <strong>{{ recipe.category_name.capitalize() }}</strong><br>

            {% for mark in recipe.marks %}
                {{ mark.capitalize() }}<br>
            {% endfor %}
            <br>
            <div class="row">
                <ul class="col l6 s12">
                    {% for ingredient in recipe.recipe_ingredients %}
                            <li id="ingredient-list">
                                 {{ ingredient.capitalize() }}<br>
                            </li>
                    {% endfor %}
                </ul>
                <div class="col l6 s12">
                    <img class="responsive-img" src="{{ recipe.image_url }}" alt="image of {{ recipe.recipe_name }}" />
                </div>
            </div>
            <br>
            <ol>
                {% for step in recipe.cooking_steps %}
                <li>
                    {{ step.capitalize() }}<br>
                </li>
                {% endfor %}
            </ol>

        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}