{% extends "base.html" %}
{% block content%}
        <h3 class="deep-purple-text text-darken-1 center-align">Manage Categories</h3>
        <br>
        <div class="row">
            <div class="col s12 center-align">
                <a href="{{ url_for('add_category') }}" class="btn-large deep-purple darken-1 text-shadow add-category-btn">
                    Add Category <i class="fas fa-plus-square right"></i>
                </a>
            </div>
        </div>
        <br>
        <div class="row">
            {% for category in categories %}
                <div class="col s12 m4 l3">
                    <div class="card center-align text-shadow">
                        <div class="card-content deep-purple darken-1 white-text  manage-title">
                            <span class="card-title">{{ category.category_name|capitalize }}</span>
                        </div>
                        <div class="card-action">
                            <a href="{{ url_for('edit_category', category_id=category._id) }}" class="btn-small edit-btn">Edit</a>
                            <a href="{{ url_for('delete_category', category_id=category._id) }}"
                                class="btn-small delete-btn">Delete</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
{% endblock %}