{% extends "base.html" %}
{% block content %}
<!-- not registered user note -->
    {% if not session.user|lower %}
    <div class="row">
        <br>
        <div class="card-content pink-text text-darken-3 center-align">
            <strong>If you wish to add your own recipes you need to register first.</strong>
        </div>
    {% endif %}

<h3 class="deep-purple-text text-darken-1 center-align">All Recipes</h3>
<!-- search input -->
<div class="row card-panel grey lighten-5" id="search-area">
    <form action="{{ url_for('search') }}" method="post" class="col s12">
        <div class="row valign-wrapper center-align">
            <div class="input-field col s12 m8">
                <i class="fas fa-search prefix deep-purple-text text-darken-1"></i>
                <input type="text" name="query" id="query" minlenght="3" class="validate" required>
                <label for="query">Search</label>
            </div>
            <div class="col s12 m4">
                <a href="{{ url_for('get_recipes') }}" class="reset-btn btn text-shadow">Reset</a>
                <button type="submit" class="deep-purple darken-1 btn text-shadow search-btn">
                    <i class="fas fa-search left hide-on-small-only"></i> Search
                </button>
            </div>
        </div>
    </form>
</div>

{% if recipes|length > 0 %}
<!-- Recipe Details -->
<ul class="collapsible">
    {% for recipe in recipes %}
        <li class="collapsible-li">
            <div class="collapsible-header white-text deep-purple darken-1 text-shadow">
                <i class="fas fa-caret-down caret"></i>
                <div class="col center-align edit-delete-div">
                    <!-- admin delete btn -->
                    {% if session.user|lower == "admin" %}
                        <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}"
                            class="btn-small delete-btn admin-delete-btn">Delete</a>
                    {% endif %}
                    <!-- recipe created_by edit and delete btn -->
                    {% if session.user|lower == recipe.created_by|lower and session.user|lower != "admin" %}
                        <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}"
                            class="btn-small delete-btn hide-on-small-only">Delete</a>
                        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-small edit-btn">Edit</a>
                    {% endif %}
                </div>
                <div class="col head-div">
                    <h6>
                        {{ recipe.recipe_name|capitalize }}
                        <small class="hide-on-med-and-down name">
                            Created by : {{ recipe.created_by|capitalize }} on {{ recipe.date_added }}
                        </small>
                    </h6>
                </div>
            </div>
            <div class="collapsible-body">
                <!-- recipe created_by and delete btn in s and m views -->
                <h6 class="hide-on-large-only center-align">
                    Created by : {{ recipe.created_by|capitalize }}<br>
                    on {{ recipe.date_added }}
                </h6>
                {% if session.user|lower == recipe.created_by|lower %}
                    <div class="center-align">
                        <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}"
                        class="btn-small delete-btn hide-on-med-and-up -align">Delete Recipe</a>
                    </div>
                {% endif %}
                <!-- recipe category -->
                <strong>{{ recipe.category_name|capitalize }}</strong><br>
                <br>
                <!-- recipe marks -->
                {% for mark in recipe.marks %}
                    {{ mark|capitalize }}<br>
                {% endfor %}
                <br>
                <div class="row">
                    <!-- recipe ingredients -->
                    <ul class="col l6 s12">
                        {% for ingredient in recipe.recipe_ingredients %}
                            <li class="ingredient-list">
                                {{ ingredient|capitalize }}<br>
                            </li>
                        {% endfor %}
                        <br>
                    </ul>
                    <!-- recipe image -->
                    <div class="col l6 s12">
                        <img class="responsive-img" src="{{ recipe.image_url }}" alt="image of {{ recipe.recipe_name }}" />
                    </div>
                </div>
                <!-- cooking steps -->
                <ol>
                    {% for step in recipe.cooking_steps %}
                        <li>
                            {{ step|capitalize }}<br>
                        </li>
                    {% endfor %}
                </ol>
            </div>
        </li>
        {% endfor %}
</ul>
<!-- if no recipe found -->
{% else %}
    <h3 class="pink-text text-darken-3 center-align">No Results Found</h3>
{% endif %}


{% endblock %}