{% extends "base.html" %}
{% block content %}

    <h3 class="deep-purple-text text-darken-1 center-align">Your Recipes</h3>
        <!-- Recipe Details -->
        <ul class="collapsible profile-list">
            {% for recipe in recipes %}
                {% if session.user|lower == recipe.created_by|lower %}
                    <li class="collapsible-li profile-list">
                        <div class="collapsible-header white-text deep-purple darken-1 text-shadow">
                            <i class="fas fa-caret-down caret"></i>
                            <!-- edit and delete btn -->
                            <div class="col s3 center-align edit-delete-div">
                                <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn-small delete-btn hide-on-small-only">Delete</a>
                                <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-small edit-btn">Edit</a>
                            </div>
                            <div class="col s9 head-div">
                                <!-- recipe name and date -->
                                <h6>
                                    {{ recipe.recipe_name|capitalize }}<br>
                                </h6>
                            </div>
                        </div>
                        <div class="collapsible-body">
                            <h6 class="center-align">
                                Created on {{ recipe.date_added }} <br>
                            </h6>
                                <div class="center-align">
                                    <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}"
                                        class="btn-small delete-btn hide-on-med-and-up -align">Delete Recipe</a>
                                </div>
                            <!-- category name -->
                            <strong>{{ recipe.category_name|capitalize }}</strong><br>
                            <br>
                            <!-- marks -->
                            {% for mark in recipe.marks %}
                            {{ mark|capitalize }}<br>
                            {% endfor %}
                            <br>
                            <div class="row">
                                <!-- recipe ingredients -->
                                <ul class="col l6 s12">
                                    {% for ingredient in recipe.recipe_ingredients %}
                                    <li class="ingredient-list">
                                        {{ ingredient|capitalize }}<br>
                                    </li>
                                    {% endfor %}
                                    <br>
                                </ul>
                                <!-- recipe image -->
                                <div class="col l6 s12">
                                    <img class="responsive-img" src="{{ recipe.image_url }}" alt="image of {{ recipe.recipe_name }}" />
                                </div>
                            </div>
                            <!-- cooking steps -->
                            <ol>
                                {% for step in recipe.cooking_steps %}
                                <li>
                                    {{ step|capitalize }}<br>
                                </li>
                                {% endfor %}
                            </ol>
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
            <!-- if not user profile -->
        </ul>
{% endblock %}